include LICENSE
include README.md
include CHANGELOG.md
include INSTALL.md
include pyproject.toml

# Include package source files and model files
recursive-include src/panhumanpy *.py
recursive-include src/panhumanpy/_tools/inference_model *.keras
recursive-include src/panhumanpy/_tools/inference_encoders *.pkl
recursive-include src/panhumanpy/_tools/inference_feature_panel *.txt
recursive-include src/panhumanpy/_tools/postprocessing *.csv

# Include test files and data
recursive-include tests *.py
recursive-include queries *.h5ad

# Explicitly exclude development files
global-exclude .git*
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.pyd
global-exclude __pycache__
global-exclude *.so
global-exclude .pytest_cache/**
global-exclude *.egg-info/**
global-exclude .DS_Store
global-exclude *.swp
global-exclude *.swo

# Explicitly exclude directories
prune .devcontainer
prune .git
prune .pixi
prune dev_utils
prune queries
prune dist
prune build
prune .pytest_cache
prune **/__pycache__ 